@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(43, 38, 38);
    gap: 2rem;
}

h1{
    text-align: center;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 5px;
   }

h2{
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
p{
    white-space:pre-wrap;
    padding:1rem 3rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    max-width: 800px;
    height: 150px;
    line-height: 2.2rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    word-wrap: break-word; 
}

.keyboard-container{
    opacity: 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    animation: fadeIn 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }

}
  
  
ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
li{
    height: 3em;
    width: 3em;
    color: rgba(0,0,0,0.7);
    border-radius: 0.4em;
    line-height: 3em;
    letter-spacing: 1px;
    margin: 0.4em;
    transition: 0.3s;
    text-align: center;
    font-size: 1em;
    transition: background-color 0.2s ,transform 0.05s;
}

#ENTER{
    width: 5.9em;
}
#caps{
    width: 6.5em;
}
.shift{
    width: 8.1em;
}
#BACKSPACE{
    width: 5.6em;
}
#tab{
    width: 5.5em;
}

.first.chosen{color: #15a90a; background-color: transparent!important;}
.second.chosen{color: #7fed7f; background-color: transparent !important;}
.third.chosen{color: #bcf2bd; background-color: transparent !important;}
.fourth.chosen{color: #E8F9FD; background-color: transparent !important;}
.fifth.chosen{color: #bcf2bd; background-color: transparent !important;}
.sixth.chosen{color: #7fed7f; background-color: transparent !important;}
.seventh.chosen{color: #15a90a; background-color: transparent !important;}

.chosen{
    animation: shaking 0.5s infinite;
}

@keyframes shaking {
    0% { transform: translate(0,0); }
    25% { transform: translate(2px); }
    50% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
    100% { transform: translate(0,0); }
}


.first{background-color: #15a90a; border: 1.5px solid #15a90a;}
.second{background-color: #7fed7f; border: 1.5px solid #7fed7f;}
.third{background-color: #bcf2bd; border: 1.5px solid #bcf2bd;}
.fourth{background-color: #E8F9FD; border: 1.5px solid #E8F9FD;}
.fifth{background-color: #bcf2bd; border: 1.5px solid #bcf2bd;}
.sixth{background-color: #7fed7f; border: 1.5px solid #7fed7f;}
.seventh{background-color: #15a90a; border: 1.5px solid #15a90a;}

a {
    text-decoration: none;
    color: #fff;
}

.footer-social-icons {
    position: absolute;
    top: 0;
    right: 100px;
    width: 350px;
    display:block;
    margin: 0 auto;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: middle;
    display: inline;
    height: 100px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-github, .fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-github:hover {
    background-color: #3d5b99;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}
.icon-label {
    display: inline-block;
    margin-left: 5px;
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;
}




  

